@font-face {
    font-family: Kugile;
    src: url(Fonts/Kugile_Demo.ttf);
}

@font-face {
    font-family: Matrixtype;
    src: url(Fonts/Matrixtype\ Display.ttf);
}

h1, h2, h3, h4, p {
    font-family: monospace;
}

p {
    font-size: 1rem;
}

body {
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 5rem;
    width: 100%;
    background-image: linear-gradient(180deg, hsl(255, 80%, 51%), hsl(255, 59%, 45%));
    z-index: 3;
    box-shadow:
    /*inset 0 0 25px #fff,      /* inner white */
    inset 20px 0 80px rgb(149, 1, 255),   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px rgb(144, 0, 255),  /* inner left magenta broad */
    inset -20px 0 300px rgb(117, 99, 255), /* inner right cyan broad */
    /*0 0 15px #fff,            /* outer white */
    -10px 0 10px rgb(149, 0, 255),        /* outer left magenta */
    10px 0 10px #0ff;         /* outer right cyan */
}

nav ul {
    display: flex;
    list-style: none;
    flex-shrink: 5;
    /*width: 15rem;*/
    margin-left: 3rem;
    margin-right: 3rem;
}

nav ul li {
    width: 13rem;
}

nav ul li a {
    font-family: monospace;
    font-size: 1.5rem;
    color: whitesmoke;
    text-decoration: none;
    margin: 2rem;
}

#nav-logo {
    height: 4rem;
    width: 4rem;
    margin-left: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
    display: none;
}

.dropdown p {
    font-family: monospace;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.dropdown a {
    font-family: monospace;
    font-size: 1.5rem;
    color: whitesmoke;
    text-decoration: none;
    margin: 0.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 7%);
    width: 140px;
    height: 120px;
    border-radius: 0.5rem;
    box-shadow: 0px 8px 16px 0px hsla(0, 0%, 0%, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown a:hover {
    color: #8a2ce2;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

main {
    /*background-color: hsl(0, 0%, 4%);*/
    background-image: url(Bilder/Wabenmuster.png);
    background-size: 20rem;
    background-blend-mode: darken;
    background-repeat: repeat;
    position: relative;
    z-index: 2;
    padding-bottom: 8rem;
    box-shadow: 0px 0px 5px 1px hsl(0, 0%, 0%);
}

h2, h3, p, li {
    color: white;
}

@keyframes animatebottom{
    from {
        bottom:-300px;
        opacity:0;
    }
    to {
        bottom:0;
        opacity:1;
    }
}

@keyframes einblenden{
    from {
        /*bottom:-300px;*/
        opacity:0;
    }
    to {
        /*bottom:0;*/
        opacity:1;
    }
}

#banner {
    display: flex;
    align-items: center;
    height: 45rem;
    width: 100%;
    margin: 0;
    padding-top: 5rem;
    background-image: url(Bilder/cartist-3iUE4iEIdJw-unsplash.jpg);
    background-position: center;
    background-position-y: top;
    background-size: contain;
}

#bannerbox {
    background-color: hsla(0, 0%, 4%, 0.95);
    width: 40rem;
    height: 45rem;
    margin: auto;
    padding-top: 0;
}

#bannerbox div {
    padding: 220px 0 0 0;
    position: relative;
    animation-name: animatebottom;
    animation-duration: 1s 
}

#bannerbox div h1 {
    text-align: center;
    font-family: "Matrixtype";
    font-size: 4rem;
    color: #8a2ce2;
}

h2 {
    text-align: center;
    font-family: monospace;
    font-size: 2rem;
    position: relative;
}

#projekte {
    margin-top: 8rem;
    position: relative;
}

.animation {
    animation: einblenden 1s ease;
}

.boxen {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.projektbox {
    width: 25rem;
    height: auto;
    overflow: hidden;
    margin: 2rem;
    border-radius: 0.5rem;
    background-color: hsl(0, 0%, 7%);
    box-shadow: 0px 0px 5px 1px hsl(0, 0%, 0%);
    transition: box-shadow 0.5s ease-in-out;
}

.projektbox:hover {
    box-shadow: 0px 0px 5px 1px hsl(247, 100%, 69%)
}

/*.projektbox.lila {
    box-shadow: 0px 0px 5px 1px hsl(0, 0%, 0%);
    transition: box-shadow 0.5s ease-in-out;
}

.lila:hover {
    box-shadow: 0px 0px 5px 1px hsl(275, 100%, 50%)
}

.lilablau:hover {
    box-shadow: 0px 0px 5px 1px hsl(247, 100%, 69%)
}

.lilablau:hover {
    box-shadow: 0px 0px 5px 1px hsl(180, 100%, 42%)
}*/

.projektbox a img {
    width: 100%;
    height: auto;
    display: block;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

.projektbox p {
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

#ÜberMich {
    margin-top: 8rem;
}

#vitabox {
    /*position: relative;
    animation-name: animatebottom;
    animation-duration: 1s;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80rem;
    height: 30rem;
    margin: 6rem auto 0;
    border-radius: 0.5rem;
    background-color: hsl(0, 0%, 7%);
    box-shadow: 0px 0px 5px 1px hsl(0, 0%, 0%);
}

#ÜberMich .text {
    width: 40rem;
}

.text h3 {
    font-size: 1.75rem;
    padding-top: 5rem;
}

.text p {
    margin: 5rem;
    text-align: center;
}

#ÜberMich .bild{
    width: 40rem;
    height: 100%;
    background-image: url("Bilder/mohammad-rahmani-1bNQVGzuy0U-unsplash.jpg");
    background-size: cover;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.bild img {
    height: 30rem;
}

@media only screen and  (max-width: 1350px) {
    #vitabox {
        width: 60rem;
    }

    #ÜberMich .text {
        width: 30rem;
    }

    #ÜberMich .bild {
        width: 30rem;
    }
}

@media only screen and  (max-width: 1050px) {
    nav ul li {
        width: 10rem;
    }

    nav ul li a {
        font-size: 1.3rem;
    }

    #vitabox {
        width: 40rem;
        height: 60rem;
    }

    #ÜberMich .text {
        width: 40rem;
        height: 30rem;
    }

    #ÜberMich .bild {
        width: 40rem;
        height: 30rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.5rem;
    }
}

@media only screen and  (max-width: 850px) {
    .dropdown {
        display: block;
    }

    /*.dropdown-content:hover {
        display: block;
    }

    .dropdown-content ul li a {
        display: block;
    }*/

    nav ul {
        display: none;
    }
}

@media only screen and  (max-width: 750px) {
    #banner {
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    #bannerbox {
        width: 100%;
        height: auto;
    }

    #bannerbox div {
        margin-bottom: 5rem;
        padding: 0;
    }
    
    #vitabox {
        width: 100%;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }

    #ÜberMich .text {
        width: 100%;
    }
    
    #ÜberMich .bild {
        width: 100%;
    }    
}

footer {
    text-align: center;
    background-color: hsl(0, 0%, 7%);
    padding: 2rem;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 1;
}

footer img {
    height: 8rem;
}

#copy {
    margin-top: 3rem;
}