@font-face {
    font-family: Kugile;
    src: url(Fonts/Kugile_Demo.ttf);
}

@font-face {
    font-family: Matrixtype;
    src: url(Fonts/Matrixtype\ Display.ttf);
}

body {
    background-color: hsl(0, 0%, 4%);
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 5rem;
    width: 100%;
    background-image: linear-gradient(180deg, hsl(255, 80%, 51%), hsl(255, 59%, 45%));
    z-index: 3;
    box-shadow:
    /*inset 0 0 25px #fff,      /* inner white */
    inset 20px 0 80px rgb(149, 1, 255),   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px rgb(144, 0, 255),  /* inner left magenta broad */
    inset -20px 0 300px rgb(117, 99, 255), /* inner right cyan broad */
    /*0 0 15px #fff,            /* outer white */
    -10px 0 10px rgb(149, 0, 255),        /* outer left magenta */
    10px 0 10px #0ff;         /* outer right cyan */
}

nav ul {
    display: flex;
    list-style: none;
    flex-shrink: 5;
}

nav ul li a {
    font-family: monospace;
    font-size: 1.5rem;
    color: whitesmoke;
    text-decoration: none;
    margin: 2rem;
}

#nav-logo {
    height: 5rem;
    width: auto;
    margin-left: 30px;
}

h2, h3, p {
    color: white;
}

#banner {
    display: flex;
    align-items: center;
    height: 45rem;
    width: 100%;
    margin: 0;
    padding-top: 5rem;
    background-image: url(Bilder/cartist-3iUE4iEIdJw-unsplash.jpg);
    background-position: center;
    background-position-y: top;
    background-size: contain;
    /*background-repeat: no-repeat;*/
}

#bannerbox {
    background-color: hsla(0, 0%, 4%, 0.95);
    width: 40rem;
    height: 45rem;
    margin: auto;
    padding-top: 0;
}

#bannerbox div {
    padding: 220px 0 0 0;
}

#bannerbox div h1 {
    text-align: center;
    font-family: "Matrixtype";
    font-size: 4rem;
    color: blueviolet;
}

#bannerbox div h2 {
    text-align: center;
    font-family: monospace;
    font-size: 2rem;
}

.projektbox a img {
    height: 100px;
    width: auto;
}